@model coteo.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Авторизация";
}

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true"/>

<div class="form">
      
    <ul class="tab-group">
		<li class="tab"><a href='/Account/Register'>Регистрация</a></li>
		<li class="tab active"><a href='/Account/Login'>Авторизация</a></li>
    </ul>
    
    <div class="tab-content">
		
		<div id="login">   
			<h1>Авторизация</h1>
			
			<form method="post" asp-controller="Account" asp-action="Login"
				asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
				
				<div class="field-wrap">
					<label>
						Email<span class="req">*</span>
					</label>
                    <input asp-for="Email" type="email"required autocomplete="off"/>
				</div>
				
				<div class="field-wrap">
					<label>
						Пароль<span class="req">*</span>
					</label>
                    <input asp-for="Password" type="password"required autocomplete="off"/>
				</div>

                <input asp-for="RememberMe"/>
				
				<button type="submit" class="button button-block"/>Войти</button>
				
			</form>
	
		</div>
      
    </div>
    
</div>