@{
    ViewBag.Title = "Ожидание подтверждения почты";
}
<div class="main-block__create">
    <div class="menu__create">
		Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме.
    </div>
</div>