<!DOCTYPE html>
<html>
<head>
	@await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("HeaderPartial")
        <main class="page">
            <div class="page__main-block main-block">
                <div class="main-block__container _container">
                    @await Html.PartialAsync("SidebarPartial")
                    <div class="main-block__work">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>
    @await Html.PartialAsync("ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>