@using Microsoft.AspNetCore.Identity
@using coteo.Domain.Entities
@using coteo.Domain.Enum
@using static coteo.SeedData;

@inject SignInManager<User> SignInManager

<header class="header">
    <div class="header__container _container">
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="header__title">Контроль выполнения поручений в организации @ViewBag.OrganizationName</a>

            if (ViewBag.IntermediatePage is null)
            {
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <div class="header__info">
                        <button class="icon__button" type="submit"><img src="~/images/col.png" class="header__col"></button>
                        @ViewBag.ShortName
                        <button id="logout" class="icon__button" type="submit"><img src="~/images/exit.png" class="header__col"></button>
                    </div>
                </form>
            }
        }
        else
        {
            <a class="header__title">Контроль выполнения поручений в организации</a>
        }
    </div>
</header>