@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true"/>

<div class="form">
      
    <ul class="tab-group">
		<li class="tab active"><a href='/Identity/Account/Register'>Регистрация</a></li>
		<li class="tab"><a href='/Identity/Account/Login'>Авторизация</a></li>
    </ul>
    
    <div class="tab-content">
		<div id="signup">   
			<h1>Регистрация</h1>
			
			<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
				
				<div class="field-wrap">
					<label>
						Полное имя<span class="req">*</span>
					</label>
                    <input asp-for="Input.FullName" type="text" required autocomplete="off"/>
				</div>
		
				<div class="field-wrap">
					<label>
						Email<span class="req">*</span>
					</label>
                    <input asp-for="Input.Email" type="email"required autocomplete="off"/>
				</div>
				
				<div class="top-row">
					<div class="field-wrap">
						<label>
							Введите пароль<span class="req">*</span>
						</label>
                        <input asp-for="Input.Password" type="password"required autocomplete="off"/>
					</div>
				
					<div class="field-wrap">
						<label>
							Повторите пароль<span class="req">*</span>
						</label>
                        <input asp-for="Input.ConfirmPassword" type="password"required autocomplete="off"/>
					</div>
				</div>
				
				<button type="submit" class="button button-block"/>Зарегистрироваться</button>
			
			</form>
	
		</div>
      
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}